@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

@keyframes point-up {
  0% {
    translate: 0 -10%;
  }
  50% {
    translate: 0 10%;
  }
  100% {
    translate: 0 -10%;
  }
}
